
.rtitle {
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.rfields {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.rcancel {
    position: absolute;
    left: 25%;
    transform: translateX(-50%);
    background-color: rgb(5, 58, 16);
    font-size: 25px;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
   
    width: 100px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    text-decoration: none;
    height: 35px;
}

.rsubmit {
    position: absolute;
    right: 20%;
    transform: translateX(-50%);
    background-color: rgb(13, 175, 86);
    font-size: 25px;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
   
    width: 100px;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    text-decoration: none;
    height: 35px;
}

.rfield {
    margin-top: 2%;
    margin-left: 5%;
}

.rfieldlabel {
    width: 100%;
    height: 30px;
    font-size: 30px;
    color: rgb(13, 175, 86);
}

.rfieldvalue {
    font-size: 30px;
    margin-top: 2%;
    width: 90%;
    min-height: 50px;
}

